@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6b21a8;
  --primary-foreground: white;
}

.dark {
  --primary: #6b21a8;
  --primary-foreground: white;
}

input::placeholder {
  color: #d1d5db;
}

